<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862096405891-ftco3i15eg96844fsdp8gsqm52eamp7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862096405891-ftco3i15eg96844fsdp8gsqm52eamp7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862096405891-5da70dmldtmkd7eo1ghq3sod3dk2uo6e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs51J1_lxQjDxVT6VxVUNp9KyQKAZU67k</string>
	<key>GCM_SENDER_ID</key>
	<string>862096405891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.rnboilerplate</string>
	<key>PROJECT_ID</key>
	<string>rn-boilerplate-ac3bd</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-boilerplate-ac3bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862096405891:ios:51ff175f84ef25fec672b6</string>
</dict>
</plist>